﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="data.aspx.cs" Inherits="data" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>fancy</title>
    <meta http-equiv="refresh" content="3" />
</head>
<body bgcolor="#fafafa">
    <form id="form1" method="post" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
