﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="head.ascx.cs" Inherits="head" %>
<table style="width: 600px;">
    <tr>
        <td style="width: 400px; height: 60px">
            <img src="tupm/LG.jpg" style="width: 400px; height: 60px" /></td>
    </tr>
    <tr>
        <td style="height: 10px">
        </td>
    </tr>
</table>
